<ion-app>
  <ion-menu menuId="main-menu" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle> 
          <ion-item routerLink="/exercise">          
            <ion-icon name="bicycle" slot="start" color="success"></ion-icon>
            <ion-label color="success">Exercise</ion-label>          
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/wellbeing">
            <ion-icon name="heart" slot="start" color="danger"></ion-icon>          
            <ion-label color="danger">Wellbeing</ion-label>          
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/cooking">           
            <ion-icon name="fast-food" slot="start" color="primary"></ion-icon>         
            <ion-label color="primary">Cooking</ion-label>          
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/home">           
            <ion-icon name="home" slot="start" color="primary"></ion-icon>         
            <ion-label color="primary">Home</ion-label>          
          </ion-item>
        </ion-menu-toggle>
       
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
